<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <h1>This is Test Page</h1>
    <p>Number of tweets: <span id="tweet-count"></span></p>
    <img id="image" src="/image" alt="cloud image">

    <form onsubmit="return submitForm()">
      <!-- form fields go here -->
     <button type="submit">Submit</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        var socket = io();
        socket.on('message', function(msg) {
          function loadImage() {
            fetch('/image')
              .then((response) => response.arrayBuffer())
              .then((buffer) => {
                var imageData = new Uint8Array(buffer);
                document.getElementById('image').src = URL.createObjectURL(
                  new Blob([imageData], { type: 'image/jpeg' })
                );
              });
          }
          // Call the loadImage function
          loadImage(); 
        });
      
        setInterval(function() {
          fetch('/nbrTweets')
            .then(response => response.json())
            .then(data => {
              document.querySelector('#tweet-count').textContent = data.nbrTweets;
            });
        }, 1000);

      });

    </script>
  </body>
</html>