<nav class="navbar sticky top-0 bg-white" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img width="30" height="45" alt="company logo" src="https://d1pnnwteuly8z3.cloudfront.net/images/dafc1e05-b0e8-4c6d-b375-4a62333bbd5a/2f7d47af-ad93-480c-a98c-5085f3c724c8.png" />
            <span>Ipsum</span>
        </a>
        <button class="navbar-btn" data-toggle="collapse" data-target="#navbar-row" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Open navbar menu</span>
            <span class="block h-1 rounded-full bg-primary"></span>
            <span class="block h-1 mt-1 rounded-full bg-primary"></span>
            <span class="block h-1 mt-1 rounded-full bg-primary"></span>
        </button>
        <div class="navbar-row" id="navbar-row">
            <ul class="navbar-col"></ul>
            <ul class="navbar-col"></ul>
            <ul class="navbar-col">
                <li>
                    <a class="nav-link font-semibold" href="/#">Pricing</a>
                </li>
                <li>
                    <a class="nav-link font-semibold" href="#">Login</a>
                </li>
                <li>
                    <a class="nav-link btn btn-primary" href="#">Get Started ➔</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="pt-20 pb-20" id="header">
    <div class="container">
        <div class="row items-center">
            <div class="col md:w-8/12 lg:w-6/12 mx-auto">
                <h1 class="display-4 letter-spacing-xs mb-6">Pitch your product and its main benefit</h1>
                <p class="text-muted leading-6 mb-6 h5">Briefly explain how the solution works, what's unique about it and what results will your users get from using it.</p>
                <div class="flex flex-col md:flex-row justify-center lg:justify-left gap-x-3 gap-y-3">
                    <a class="btn btn-primary btn-lg" href="#">Get Started ➔</a>
                    <button class="btn btn-lg btn-ghost btn-primary" href="#">Book a Demo</button>
                </div>
            </div>
            <div class="col lg:w-6/12 mt-12 lg:mt-0">
                <img class="mx-auto w-full lg:mr-0 max-w-[406px]" alt="product image" width="406" height="300" src="https://d1pnnwteuly8z3.cloudfront.net/images/dafc1e05-b0e8-4c6d-b375-4a62333bbd5a/db204aff-2783-412a-9f3d-8ff54d267d9f.png" style="filter:drop-shadow(0.5rem 0.5rem 0.25rem rgba(0, 0, 0, 0.075))" />
            </div>
        </div>
    </div>
</section>
<section class="py-20" id="companies">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="font-semibold text-center h4">Trusted by 3000+ great companies</h2>
                <div class="flex justify-center flex-wrap flex-row mt-6">
                    <div class="px-6 pt-2">
                        <img class="h-12 w-24" alt="client logo 0" src="https://d1pnnwteuly8z3.cloudfront.net/images/dafc1e05-b0e8-4c6d-b375-4a62333bbd5a/597b4f4f-c359-4e9f-9b46-42d363069dcd.png" width="200" height="100" />
                    </div>
                    <div class="px-6 pt-2">
                        <img class="h-12 w-24" alt="client logo 1" src="https://d1pnnwteuly8z3.cloudfront.net/images/dafc1e05-b0e8-4c6d-b375-4a62333bbd5a/be9a2e74-d291-40ab-8dc3-d0467a80a913.png" width="200" height="100" />
                    </div>
                    <div class="px-6 pt-2">
                        <img class="h-12 w-24" alt="client logo 2" src="https://d1pnnwteuly8z3.cloudfront.net/images/dafc1e05-b0e8-4c6d-b375-4a62333bbd5a/9c928742-6096-4545-9edb-ab5f1b95f5e2.png" width="200" height="100" />
                    </div>
                    <div class="px-6 pt-2">
                        <img class="h-12 w-24" alt="client logo 3" src="https://d1pnnwteuly8z3.cloudfront.net/images/dafc1e05-b0e8-4c6d-b375-4a62333bbd5a/d1589331-9ad1-4a04-91fb-2ca6118817f0.png" width="200" height="100" />
                    </div>
                    <div class="px-6 pt-2">
                        <img class="h-12 w-24" alt="client logo 4" src="https://d1pnnwteuly8z3.cloudfront.net/images/dafc1e05-b0e8-4c6d-b375-4a62333bbd5a/9b9da7c5-9abf-4424-879e-88bd04e26845.png" width="200" height="100" />
                    </div>
                    <div class="px-6 pt-2">
                        <img class="h-12 w-24" alt="client logo 5" src="https://d1pnnwteuly8z3.cloudfront.net/images/dafc1e05-b0e8-4c6d-b375-4a62333bbd5a/9d5b21e9-9fd9-4ce7-9331-9738fad25b5c.png" width="200" height="100" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-12 bg-dark relative" id="testimonial">
    <div class="absolute top-0 left-0 h-2 w-full bg-gradient-to-r from-secondary to-primary"></div>
    <div class="container">
        <div class="row">
            <div class="col lg:w-8/12 text-white text-center mx-auto">
                <img class="mx-auto filter brightness-0 invert h-[70px]" alt="client logo" src="https://d1pnnwteuly8z3.cloudfront.net/images/dafc1e05-b0e8-4c6d-b375-4a62333bbd5a/9d5b21e9-9fd9-4ce7-9331-9738fad25b5c.png" />
                <h2 class="display-3 font-black mt-12 lmb-2 font-medium leading-tight">“Some kind words from your customer here”</h2>
                <p class="mt-6 mb-1 font-semibold h5">Joseph Smith</p>
                <p class="text-white mb-12">CEO</p>
                <a class="btn btn-primary btn-lg" href="#">Read More <i class="fas fa-arrow-right pl-2"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="py-24" id="feature">
    <div class="container">
        <div class="row items-center">
            <div class="col lg:w-6/12">
                <span class="py-0.5 px-2 uppercase rounded font-semibold bg-primary-50 text-primary">Ipsum</span>
                <h2 class="font-semibold mt-4 mb-4">Feature / Problem Description</h2>
                <p class="mb-4">Talk about the other solutions that the users might have tried and why none of them worked perfectly for them. This reinforces their pain and their need to find a solution.</p>
                <a href="#" class="font-semibold text-lg">Learn more ➔</a>
                <hr class="my-10" />
                <div>
                    <p class="italic font-semibold tracking-wide">"How the product helped this person"</p>
                    <div class="flex">
                        <div class="rounded-full overflow-hidden flex justify-center items-center w-[46px] h-[46px]">
                            <img alt="customer picture" src="https://d1pnnwteuly8z3.cloudfront.net/images/dafc1e05-b0e8-4c6d-b375-4a62333bbd5a/0e1cb16e-a00e-4f8c-bee9-da84d968e202.jpeg" />
                        </div>
                        <div class="ml-6 flex justify-center flex-col">
                            <span class="font-semibold">Gary Ipsum</span>
                            <span class="mt-0.5 font-semibold">CMO of Airbnb</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col lg:w-6/12 mt-12 lg:mt-0">
                <img class="rounded mx-auto lg:mr-0 max-h-[320px]" leading="lazy" style="filter:drop-shadow(0 0.1rem 0.75rem rgba(0, 0, 0, 0.15))" alt="product image 3" src="https://d1pnnwteuly8z3.cloudfront.net/images/dafc1e05-b0e8-4c6d-b375-4a62333bbd5a/120a289c-0d04-4b97-8d63-3ac4ac5c1ef7.png" />
            </div>
        </div>
    </div>
</section>