<html>
  <head>
    <title>Dashboard</title>
    <style>
      /* Add some styling for the dashboard */
      body {
        font-family: Arial, sans-serif;
        background-color : #202124
      }

      #fil-tweets {
        height: 800px;
        max-height: 800px;
        display: inline-block;
        overflow: auto;
        margin: auto; /* centers the element horizontally */
      }

      h1
      {
        color : white
      }

      svg {
        transform: scale(0.80);
      }

      #tweet{
        background-color: #f1f1f1;
        width: 90%;
        max-width: 90%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        margin: 10px;
      }

      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }

      .card {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
      }


      h1 {
        text-align: center;
      }
      
      /* Add some custom styles */
      .card h2 {
        color: #333;
        font-size: 18px;
        margin: 0;
      }

      .card p {
        color: #666;
        font-size: 14px;
        margin: 10px 0;
      }

      .card p.stats {
        font-size: 36px;
        font-weight: bold;
        margin: 10px 0;
      }

      .card p.description {
        font-style: italic;
        margin: 10px 0;
      }
    </style>
  </head>
  <body>
    <h1>Twitter NLP</h1>
    <div class="container">
      <!-- Add some cards to the dashboard -->
      <div class="card">
        <h2>Keyword to stream</h2>
        <br>
        <p class="stats">
          <input  id="keyword" type="text">
          <button id="send">SEND</button>
        <p class="description">Current keyword : "COVID</p>
      </div>
      <div class="card">
        <h2>Number of Tweets</h2>
        <p class="stats" id="tweet-count"></p>
      </div>
      <div  class="card">
        <h2>Dynamic CloudWord</h2>
        <div id="pic"></div>
      </div>
      <div class="card">
        <h2>Stream of tweets </h2>
        <div id="fil-tweets"></div>
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    $(function () {

      var arr_tweets = [];
      var socket = io();
      loadImage()

      setInterval(function() {
        fetch('/nbrTweets')
          .then(response => response.json())
          .then(data => {
            document.querySelector('#tweet-count').textContent = data.nbrTweets;
          });
      }, 1000);

      function loadImage() {
        fetch("/image")
        .then(response => response.text())
        .then(data => {
          document.getElementById('pic').innerHTML = data;})
      .catch(error => {
      console.error(error);});
      }

      function showtweets(tweets) 
      {
        arr_tweets.push(tweets)
        if(arr_tweets.length > 20)
            arr_tweets.shift()
        
        $('#fil-tweets').empty();
        arr_tweets.forEach(tweet => {
            $("#fil-tweets").prepend("<div id='tweet'>" + tweet + "</div>");
        });
      }

      $('#send').click(function() {
        key = $('#keyword').val()
        fetch(`/keyword?key=${key}`, {
          method: 'GET'
        })
        .then(res => res.json())
        .then(response => console.log('Success:', response))
        .catch(error => console.error('Error:', error));
      });
      

      socket.on('message', function(msg) {
        if (msg=="go")
             loadImage()
        else {
            const obj = JSON.parse(msg);
            showtweets(obj.text) 
        }
      });

    });

  </script>
</html>
