<html>
  <head>
    <title>Dashboard</title>
    <style>
      /* Add some styling for the dashboard */
      body {
        font-family: Arial, sans-serif;
        background-image: linear-gradient(to bottom,#1DA1F2, #9198e5);
      }

      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }

      .card {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
      }

      h1 {
        text-align: center;
      }

      /* Add some custom styles */
      .card h2 {
        color: #333;
        font-size: 18px;
        margin: 0;
      }

      .card p {
        color: #666;
        font-size: 14px;
        margin: 10px 0;
      }

      .card p.stats {
        font-size: 36px;
        font-weight: bold;
        margin: 10px 0;
      }

      .card p.description {
        font-style: italic;
        margin: 10px 0;
      }
    </style>
  </head>
  <body>
    <h1>Twitter NLP</h1>
    <div class="container">
      <!-- Add some cards to the dashboard -->
      <div class="card">
        <h2>Keyword to stream</h2>
        <br>
        <p class="stats"><input type="text"></p>
        <p class="description">Current keyword : "COVID</p>
      </div>
      <div class="card">
        <h2>Number of Tweets</h2>
        <p class="stats" id="tweet-count">00000</p>
      </div>
      <div class="card">
        <h2>Dynamic CloudWord</h2>
        <br>
        <center><img id="image" src="/Users/zakariatozy/Library/Mobile Documents/com~apple~CloudDocs/IPP/IPP ZAK/DATAStrem/projet/python/tmp/cloudnuage.jpg" alt="" height="600px" width="600px"class="img-fluid"></center>
      </div>
      <div class="card">
        <h2>Stream of tweets </h2>
        <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, neque! Voluptatem animi voluptatum natus quam. Tempore sequi possimus porro iste, qui excepturi quod ex mollitia esse asperiores blanditiis molestiae enim.</div>
        <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, neque! Voluptatem animi voluptatum natus quam. Tempore sequi possimus porro iste, qui excepturi quod ex mollitia esse asperiores blanditiis molestiae enim.</div>
        <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, neque! Voluptatem animi voluptatum natus quam. Tempore sequi possimus porro iste, qui excepturi quod ex mollitia esse asperiores blanditiis molestiae enim.</div>
        <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, neque! Voluptatem animi voluptatum natus quam. Tempore sequi possimus porro iste, qui excepturi quod ex mollitia esse asperiores blanditiis molestiae enim.</div>
        <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, neque! Voluptatem animi voluptatum natus quam. Tempore sequi possimus porro iste, qui excepturi quod ex mollitia esse asperiores blanditiis molestiae enim.</div>
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    $(function () {
      var socket = io();
      function loadImage() {
        fetch('/image')
          .then((response) => response.arrayBuffer())
          .then((buffer) => {
            var imageData = new Uint8Array(buffer);
            document.getElementById('image').src = URL.createObjectURL(
              new Blob([imageData], { type: 'image/jpeg' })
            );
          });
      }
      socket.on('message', function(msg) {
        if (msg=="go")
             loadImage()
        else {
            const obj = JSON.parse(msg);
            console.log(obj.text)
        }
      });
    
      setInterval(function() {
        fetch('/nbrTweets')
          .then(response => response.json())
          .then(data => {
            document.querySelector('#tweet-count').textContent = data.nbrTweets;
          });
      }, 1000);

    });

  </script>
</html>
